

.calendar {
  width: 100%;
  border-collapse: collapse;
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #6b6b6b;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  flex-direction: column;
  width: 90%;
}

.table {
  width: 91.5%;
  border: 1px solid #afabab;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  border: 1px solid #afabab;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.calendar.month-view th {
  background-color: #d3d3d3;
}

.calendar.month-view td {
  height: 100px;
  cursor: pointer;
}

.calendar.month-view td:hover {
  background-color: #e0e0e0;
}


.calendar.week-view th {
  background-color: #d3d3d3;
}

.calendar.week-view td {
  height: 15px;
  cursor: pointer;
  border-bottom: 2px solid #afabab; 
  border-right: 1px solid #afabab;
}

.calendar.week-view td:hover {
  background-color: #cfcfcf;
}


.calendar.day-view th {
  background-color: #d3d3d3;
}

.calendar.day-view td {
  height: 15px;
  cursor: pointer;
}

.calendar.day-view td:hover {
  background-color: #bfbfbf;
}

.day-navigation {
  text-align: center;
  padding-right: 60px;
}

.week-navigation {
  text-align: center;
  padding-right: 47px;
}

.month-navigation {
  text-align: center;
  padding-right: 70px;
}

.hidden {
  display: none;
}

.hour {
  width: 5%;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.btn {
  border-radius: 45%;
  border: 1px solid #f85656;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: #f85656;
  font-weight: bold;
  height: 30px;
}

.btn:hover {
  background-color: #f85656;
  color: white;
  
}


.modal-form {

  max-height: 85%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f6f6;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 15px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin: 20px ;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #a39d9d;
  border-radius: 4px;
  
}

textarea.form-control {
  resize: none;
  width: 97%;
}

.date-time-inputs {
  display: flex;
  gap: 5px;
  width: 100%;
}

.date-time-inputs .form-control {
  width: auto;
}

.day-input,
.month-input,
.year-input {
  flex: 1;
  width: 60%;
}

.hour-input,
.minute-input,
.ampm-input {
  flex: 1;
  width: 60%;
}


.event {
  background-color: #f85656;
  color: white;
  padding: 2px;
  margin-top: 5px;
  border-radius: 10%;
  font-size: 0.9em;
}

.img {
  width: 100%;
  padding-top: 40px;
  
}

.primero{
  display: grid;
  grid-template-columns: 30% 70%;
  width: 95%;
  gap: 10px;
}

.segundo{
  display: grid ;
  grid-template-columns: 50% 50%;
  gap: 10px;
  width: 100%;
}

.all{
  height: 10%;
}

