

.calendar {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #6b6b6b;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  flex-direction: column;
}

.table {
  width: 90%;
  border: 1px solid #afabab;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  border: 1px solid #afabab;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.calendar.month-view th {
  background-color: #d3d3d3;
}

.calendar.month-view td {
  height: 100px;
  cursor: pointer;
}

.calendar.month-view td:hover {
  background-color: #e0e0e0;
}


.calendar.week-view th {
  background-color: #d3d3d3;
}

.calendar.week-view td {
  height: 15px;
  cursor: pointer;
  border-bottom: 2px solid #afabab; /* Borde inferior más grueso */
  border-right: 1px solid #afabab;
}

.calendar.week-view td:hover {
  background-color: #cfcfcf;
}


.calendar.day-view th {
  background-color: #d3d3d3;
}

.calendar.day-view td {
  height: 15px;
  cursor: pointer;
}

.calendar.day-view td:hover {
  background-color: #bfbfbf;
}

.day-navigation {
  text-align: center;
  padding-right: 60px;
}

.week-navigation {
  text-align: center;
  padding-right: 47px;
}

.month-navigation {
  text-align: center;
  padding-right: 70px;
}

.hidden {
  display: none;
}

.hour {
  width: 5%;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.btn {
  border-radius: 45%;
  border: 1px solid #f85656;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: #f85656;
  font-weight: bold;
  height: 30px;
}

.btn:hover {
  background-color: #f85656;
  color: white;
  
}

.modal-form {
  max-height: 70%; 
  overflow-y: auto; 
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea.form-control {
  resize: none;
}


.date-time-inputs {
  display: flex;
  gap: 5px;
}

.date-time-inputs .form-control {
  width: 100%;
}

.day-input,
.month-input,
.year-input {
  flex: 1;
}

.hour-input,
.minute-input {
  flex: 1;
}

.ampm-input {
  flex: 0.5;
}