<div class="container">
  <!-- Vista Mensual -->
  <div id="monthlyView" class="calendar" [class.hidden]="!isMonthlyViewVisible">
    <div class="header">
      <div class="buttons">
        <div>
          <button class="btn" (click)="showMonthlyView()">M</button>
          <button class="btn" (click)="showWeeklyView()">S</button>
          <button class="btn" (click)="showDailyView()">D</button>
          <button class="btn" (click)="goToToday()">Hoy</button>
        </div>
      </div>
      <div class="month-navigation">
        <button class="btn" (click)="prevMonth()">&#9664;</button>
        <span class="month">{{ monthNames[currentMonth] }} {{ currentYear }}</span>
        <button class="btn" (click)="nextMonth()">&#9654;</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let day of daysInWeek">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeksInMonth">
          <td *ngFor="let day of week" [class.today]="isToday(day.day)" (click)="addEvent($event)">
            <span *ngIf="day.day">{{ day.day }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Vista Semanal -->
  <div id="weeklyView" class="calendar week-view" [class.hidden]="!isWeeklyViewVisible">
    <div class="header">
      <div class="buttons">
        <div>
          <button class="btn" (click)="showMonthlyView()">M</button>
          <button class="btn" (click)="showWeeklyView()">S</button>
          <button class="btn" (click)="showDailyView()">D</button>
          <button class="btn" (click)="goToToday()">Hoy</button>
        </div>
      </div>
      <div class="week-navigation">
        <button class="btn" (click)="prevWeek()">&#9664;</button>
        <span class="week">{{ currentWeekStart | date: 'dd/MM/yyyy' }} - {{ currentWeek[6] | date: 'dd/MM/yyyy' }}</span>
        <button class="btn" (click)="nextWeek()">&#9654;</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let day of currentWeek">{{ day | date: 'EEE' }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of hoursInDay">
          <td class="hour">{{ hour }}</td>
          <td *ngFor="let day of currentWeek" (click)="addEvent($event)"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Vista Diaria -->
  <div id="dailyView" class="calendar day-view" [class.hidden]="!isDailyViewVisible">
    <div class="header">
      <div class="buttons">
        <div>
          <button class="btn" (click)="showMonthlyView()">M</button>
          <button class="btn" (click)="showWeeklyView()">S</button>
          <button class="btn" (click)="showDailyView()">D</button>
          <button class="btn" (click)="goToToday()">Hoy</button>
        </div>
      </div>
      <div class="day-navigation">
        <button class="btn" (click)="prevDay()">&#9664;</button>
        <span class="day">{{ currentDay | date: 'fullDate' }}</span>
        <button class="btn" (click)="nextDay()">&#9654;</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="hour"></th>
          <th class="text-center">{{ currentDay | date: 'EEEE' }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of hoursInDay">
          <td class="hour">{{ hour }}</td>
          <td (click)="addEvent($event)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
